:root{
    --background-color: #050434 ;
    --text-1-color:#F9F9F9;
    --text-2-color:#f7040d ;
    --background-bar:#515151;

    --font-1: 'Roboto', sans-serif;
}

body {
    background-color:var(--background-color);
    font-family:var(--font-1);
}

.general-margin { 
    margin-right: 7%;
    margin-left: 7%;
}
.general-container {
    display: flex;
}

/*<------------- View-Group ------------->*/
.principal-num {
    color: var(--text-2-color);
    font-weight: 600;
    font-size:35px;
    display: inline-block;
    padding-left: 5%;
    margin:var(--default-margin-text);
}
.secondary-num {
    color: var(--text-1-color);
    font-weight: 300;
    font-size:25px;
    display: inline-block;
    padding-right: 5%;
    margin:var(--default-margin-text);
}
.text-button-2 {
    color: var(--text-1-color);
    font-weight: 400;
    font-size:20px;
    text-decoration:none;
    margin:var(--default-margin-text);
}
.arrow-style {
    color: var(--text-1-color);
    font-size: 30px;
    display: inline-block;
}

