
@media (min-width:992px) {
    .row {
        display: flex;
    }
    .col-lg-1 {
        width:8.33%;
    }
    .col-lg-2 {
        width: 16.55%;
        
    }
    .col-lg-3{
        width: 25%;
       
    }
    .col-lg-4 {
        width: 33.33%;
       
    }
    .col-lg-6 {
        width: 50%;
      
    }
    .col-lg-8 {
        width:66.66%;
        
    }
    .col-lg-10 {
        width: 82.5%;
      
    }
    .col-lg-12 {
        width: 100%;

    }
}

@media (min-width:768px) {
    .row {
        display: flex;
    }
    .col-md-2 {
        width: 16.55%;
     
    }
    .col-md-4 {
        width: 33.33%;
       
    }
    .col-md-6 {
        width: 50%;
    
    }
    .col-md-8 {
        width:66.66%;
     
    }
    .col-md-1 {
        width: 100%;
        
    }
}