:root{
    --text-2-color:#f7040d ;
    --text-1-color:#F9F9F9;
    --border-color-1:#707070;
    --background-bar:#515151;

    --default-margin-text:0;

    --font-1: 'Roboto', sans-serif;
}

body{
    font-family:var(--font-1);/*Add to general styles*/
}

input{
    margin-top:6%;
    margin-bottom:1%;
    width: 100%;
    border-radius: 0px 7px 7px 7px;
    border: 1px solid var(--border-color-1);
    background:none;
    outline: none;
    font-weight:300;
    font-size: 17px;
    color: var(--text-1-color);
}

textarea{
    margin-top:6%;
    margin-bottom:1%;
    width: 100%;
    border-radius: 0px 7px 7px 7px;
    border: 1px solid var(--border-color-1);
    background:none;
    outline: none;
    font-weight:300;
    font-size: 17px;
    color: var(--text-1-color);
}

.general-container{
    display:flex;
    
}

/*<------------- Text-Group-1 ------------->*/
.text-container {
    width: 100%;
    margin-top: 20%;

}
.principal-text {
    color: var(--text-2-color);
    font-weight:600;
    font-size:50px;
    margin:var(--default-margin-text);
}
.secondary-text {
    color: var(--text-1-color);
    font-weight:400;
    font-size:40px;
    margin:var(--default-margin-text);
}
/*<------------- Form-Group ------------->*/
.contact-form{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow: row wrap;
}
.form-message{
    margin-top:10%;
    margin-left: 11%;
    margin-right: 11%;

}
.label-name {
    position:absolute;
}
.label-style {
    color: var(--text-1-color);
    font-family: var(--font-1);
    font-weight:300;
}

.input-1 {
    height: 45px;
}

.input-2 {
    height: 100px;
}

.button-s1 {
    margin-top:2% ;
    margin-left:5%;
    border: 2px solid var(--text-2-color);
    color: var(--text-2-color);
    height: 45px;
    width: 155px;
    border-radius: 22.5px;
    align-items: center;
    background:none;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
/*<------------- View-Group ------------->*/

.bar-decoration-b {
    width: 230px;
    height: 3px;
    border-radius: 1.5px;
    background-color:var(--background-bar);
    margin-bottom:2%;
}
.bar-decoration-p {
    width: 290px;
    height: 3px;
    border-radius: 1.5px;
    background-color:var(--text-1-color);
}
.container-2 {
    width: 100%;
    height: 5%;
    margin-left: 50%;
    margin-top: 25%;
}
