:root {
    --text-1-color:#F9F9F9;
    --text-2-color:#f7040d ;
    --background-bar:#515151;
    --background-block:#494B4B;
    --default-margin-text:0;
    --twitter-hover-color:#1b95f4;
    --linkedin-hover-color:#0E76A8;
    --intagram-base-background-color:#d6249f;
    --inst-grad-1:#fdf497;
    --inst-grad-2:#fd5949;
    --inst-grad-3:#d6249f;
    --inst-grad-4:#285AEB;
}

.hidden {
    display: none !important;
}
/*<---------------------------------------------
                  About Style 
---------------------------------------------->*/

.title-about{
    width: 180px;
    height: auto;
}
.subject-text {
    color: var(--text-1-color);
    font-weight:600px;
    font-size: 40px;
    margin:var(--default-margin-text);
}
.subject-bar {
    height: 2px;
    width: 100%;
    background-color:var(--text-2-color);
}
.text {
    color: var(--text-1-color);
    font-weight:300px;
    font-size: 16px;
}
/*<------------- Social-Group ------------->*/

.title-social {
    width:130px;
    height: auto;
}
.container-social{
    width:45%;
    height: 10%;
}
.social-text {
    color: var(--text-1-color);
    font-weight:100px;
    font-size: 20px;
    margin:var(--default-margin-text);
}
.icon-container{
    margin-top: 8%;
    display: flex;
}
.hover-container{
    height: 40px;
    width: 40px;
    display:flex;
    text-decoration: none;
    border-radius:50%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
}

.circle-ext{
    position: absolute;
    z-index: 2;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color:none;
    border: 2px solid transparent;
}

div.circle-ext:hover{
    height: 50px;
    width: 50px;
    border:2px solid white;
    transition-duration: .40s;
}

a.hover-effect-link:hover {
    background-color:var(--linkedin-hover-color);
    transition-duration: .40s;
}

a.hover-effect-twitter:hover {
    background-color:var(--twitter-hover-color);
    transition-duration: .40s;
}

a.hover-effect-inst:hover {
    transition-duration: .40s;
    background:var(--intagram-base-background-color);
    background: radial-gradient(circle at 30% 107%, var(--inst-grad-1) 0%, var(--inst-grad-1) 5%, var(--inst-grad-2) 45%,var(--inst-grad-3) 60%,var(--inst-grad-4) 90%);
}

.social-icon {
    color: var(--text-1-color);
    font-size: 30px;
    padding-right: auto;
}
.container-social{
    margin-top:3%;
    margin-left: 170%;
}

/*<------------- View-Group ------------->*/

.bar-decoration-p {
    width: 200px;
    height: 3px;
    border-radius: 1.5px;
    background-color:var(--text-1-color);
}
.bar-decoration-b {
    width: 290px;
    height: 3px; 
    border-radius: 1.5px;
    background-color:var(--background-bar);
    margin-bottom:2%;
}
.container-2 {
    width: 100%;
    height: 5%;
    margin-left: 45%;
    margin-top: 45%;
}

/*<---------------------------------------------
                    Skills Style
---------------------------------------------->*/
.container-embbar {
    width:100%;
    height:100%;
    padding-top:60%;
}
.bar-sec{
    width: 7px;
    height: 70px;
    margin-top:35%;
    border-radius:3.5px;
    background-color:var(--background-bar);
}

/*---------------- Button-Area ----------------*/
.area{
    width: 100%;
    margin-top:5%;
    display:flex;
}
/*#controls*/
.title-area {
    font-size:45px;
    font-weight:600;
    color:var(--text-1-color);
    margin:var(--default-margin-text);
}
.button-area {
    margin-top:1.8%;
    margin-left:5% ;
    height:40px;
    width:40px;
    background:none;
    border-radius:50%;
    border:2.5px solid var(--text-1-color);
    justify-content: center;
    align-items: center;
    display:flex;
}

.icon-area {
    color:var(--text-1-color);
    font-size:25px;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

i.icon-area:hover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.title-skills {
    margin-top:8%;
    width: 100px;
}
.container-skills{
    margin-top:5%;
    width: 100%;
    height: auto;
    display:flex;
    flex-flow: row wrap;
}
#flip-container{
    -webkit-perspective: 100px;
    perspective:100px;

}

.skill-block {
    width: 65px;
    height:65px;
    border-radius:10px;
    background-color:var(--background-block);
    margin-right: 2%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*Transitions effects*/
    transition: 0.6s;
    transform-style: preserve-3d;
    transform-origin: 100% 25px;
}

.flip-container{
    transform:rotateX(180deg) translate(0, -15px);   
}

.front, .back{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    text-align: center;
}

.front{
    transform: rotateX(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.back{
    transform: rotateX(180deg);
}

.png-image {
    width: 80%;
    height: 80%;
}
.png-large-image {
    height: 40%;
    width: 90%;
}
.png-short-image {
    height: 60%;
    width: 90%;
}
.png-tinny-image {
    height: 100%;
    width: 95%;
}
.png-tall-image {
    height: 80%;
    width: 105%;
}

.container-project {
    width: 100%;
    height: auto;
    margin-top: 5%;
}
.image-project {
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%; 
}
.adjust-image {
    width: 100%;
    height: auto;
    border-radius:10px;
}

.container-links{
    display:flex;
}
.link-block {
    width: 50%;
    height: 20%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-flow: row wrap;
}
.icon-project{
    font-size:35px;
}
.link-repo {
    text-decoration: none;
    color: var(--text-1-color);
    font-size:18px;
    font-weight: 300;
}
.bar-link {
    width: 62%;
    height: 2px;
    background-color:var(--text-1-color);
}
.link-project {
    text-decoration: none;
    color: var(--text-2-color);
    font-size:18px;
    font-weight: 300;
}
.button-style {
    border: 2px solid var(--text-2-color);
    color: var(--text-1-color);
    height: 40px;
    width: 145px;
    border-radius: 20px;
    text-align: center;
}