:root {
    --text-1-color:#F9F9F9;
    --text-2-color:#f7040d ;
    --background-bar:#515151;
    --background-block:#7D6B6C;
    --default-margin-text:0;
}

/*<---------------------------------------------
                  About Style 
---------------------------------------------->*/

.title-about{
    width: 180px;
    height: auto;
}
.subject-text {
    color: var(--text-1-color);
    font-weight:600px;
    font-size: 40px;
    margin:var(--default-margin-text);
}
.subject-bar {
    height: 2px;
    width: 100%;
    background-color:var(--text-2-color);
}
.text {
    color: var(--text-1-color);
    font-weight:300px;
    font-size: 16px;
}
/*<------------- Social-Group ------------->*/

.title-social {
    width:130px;
    height: auto;
}
.container-social{
    width:45%;
    height: 10%;
}
.social-text {
    color: var(--text-1-color);
    font-weight:100px;
    font-size: 20px;
    margin:var(--default-margin-text);
}
.icon-container{
    margin-top: 4%;
}
.social-icon {
    color: var(--text-1-color);
    font-size: 30px;
    padding-right: 7%;
}
.container-social{
    margin-top:3%;
    margin-left: 170%;
}

/*<------------- View-Group ------------->*/

.bar-decoration-p {
    width: 200px;
    height: 3px;
    border-radius: 1.5px;
    background-color:var(--text-1-color);
}
.bar-decoration-b {
    width: 290px;
    height: 3px; 
    border-radius: 1.5px;
    background-color:var(--background-bar);
    margin-bottom:2%;
}
.container-2 {
    width: 100%;
    height: 5%;
    margin-left: 45%;
    margin-top: 45%;
}

/*<---------------------------------------------
                    Skills Style
---------------------------------------------->*/
.container-embbar {
    width:100%;
    height:100%;
    padding-top:60%;
}
.bar-sec{
    width: 7px;
    height: 70px;
    margin-top:35%;
    border-radius:3.5px;
    background-color:var(--background-bar);
}


.area{
    width: 100%;
    margin-top:5%;
    display:flex;
}
.title-area {
    font-size:45px;
    font-weight:600;
    color:var(--text-1-color);
    margin:var(--default-margin-text);
}
.button-area {
    margin-top:1.8%;
    margin-left:5% ;
    height:40px;
    width:40px;
    background:none;
    border-radius:50%;
    border:2.5px solid var(--text-1-color);
    justify-content: center;
    align-items: center;
    display:flex;
}
.icon-area {
    color:var(--text-1-color);
    font-size:25px;
}

.title-skills {
    margin-top:8%;
    width: 100px;
}
.container-skills{
    margin-top:5%;
    width: 100%;
    height: auto;
    display:flex;
    flex-flow: row wrap;
}
.skill-block {
    width: 65px;
    height:65px;
    border-radius:10px;
    background-color:var(--background-block);
    margin-right: 2%;
    margin-top: 2%;
}

.container-project {
    width: 100%;
    height: auto;
    margin-top: 5%;
}
.image-project {
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%; 
}
.adjust-image {
    width: 100%;
    height: auto;
    border-radius:10px;
}

.container-links{
    display:flex;
}
.link-block {
    width: 50%;
    height: 20%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-flow: row wrap;
}
.icon-project{
    font-size:35px;
}
.link-repo {
    text-decoration: none;
    color: var(--text-1-color);
    font-size:18px;
    font-weight: 300;
}
.bar-link {
    width: 62%;
    height: 2px;
    background-color:var(--text-1-color);
}
.link-project {
    text-decoration: none;
    color: var(--text-2-color);
    font-size:18px;
    font-weight: 300;
}
.button-style {
    border: 2px solid var(--text-2-color);
    color: var(--text-1-color);
    height: 40px;
    width: 145px;
    border-radius: 20px;
    text-align: center;
}